/* --------- Color settings --------- */

$primary-color: #1D318A;
$white-color: #FFFFFF;
$light-grey-color: #E5E5E5;
$dark-color: #444444;

$primary-text-color: #2F3035;
$mix-border-color: transparent;

/* --------- Buttons settings --------- */

$mix-ghost: false;
$border-radius: 2px;
$font-weight: 600;
$mix-margin: 5px;
$mix-ttransform: capitalize;
$mix-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;

/* --------- Sizes settings --------- */

$base-font-size: 1rem;
$base-spacing: 2em;
$base-height: 3em;

$small-font-size: .8rem;
$small-spacing: 1.2em;
$small-height: 2em;

$big-font-size: 1.2rem;
$big-spacing: 3em;
$big-height: 3em;

